#main{
    border: 2px solid black;
    height: 30rem;
    width: 19rem;
    margin: 5rem;
    margin-left: 35rem;
    background-color: rgb(107, 109, 107);
    border-radius: 5% 5% 0% 0%;
    box-shadow: -2px -5px 15px 2px rgb(161, 161, 161);
}
.click{
    height: 50px;
    width: 90px;
    background-color: rgb(214, 237, 237);
    font-size: x-large;
    font-weight: bolder;
    margin: 3px;
    margin-left: 5px;
    border-radius: 10px;
}
#number{
    height: 2rem;
    width: 17.2rem;
    background-color: rgb(174, 127, 255);
    border-radius: 10px;
}
#number{
    height: 60px;
    margin: 10px;
    font-size: xx-large;
}
.click1{
    height: 50px;
    width: 295px;
    background-color: rgb(235, 248, 248);
    font-weight: bolder;
    font-size: x-large;
    margin: 3px;
    margin-left: 5px;
}
#c{
    height: 50px;
    width: 190px;
    background-color: rgb(214, 237, 237);   
    font-weight: bolder;
    margin: 3px;
    margin-left: 5px;
    border-radius: 10px;
}